@import "tailwindcss";

:root {
  --primary-blue: #1e3a8a;
  --white: #ffffff;
  --yellow: #facc15;
  --gray-bg: #f3f4f6;
  --gray-dark: #374151;
  --gray-light: #e5e7eb;
  --green: #10b981;
  --red: #ef4444;
}

@layer base {
  * {
    @apply border-[--gray-light];
  }
  body {
    @apply bg-white text-[--gray-dark];
  }
}
